// Base
@import 'base/baseline';
@import 'base/variables';
@import 'base/mixins';

// Modules
@import 'components/navbar';

// Pages
@import 'pages/homepage';
@import 'pages/page-vpm-services';
@import 'pages/page-vseen-services';
@import 'pages/vseen-projects';
@import 'pages/vseen-single-project';

/************************** MEDIA QUERIES **************************/

/*** iPhone 6/7/8/ media query ***/
@media only screen and (min-width: 375px) {
	.icons-container {
		height: 50vh !important;
	}
}
/*** iPhone 6/7/8 media query ***/

/*** Iphone 6/7/8 Plus ***/
// @media only screen and (min-width: 414px) {
// 	.icons-container {
// 		// height: 80vh !important;

// 		.icon {
// 			// max-width: 40% !important;
// 		}
// 	}
// }
/*** Iphone 6/7/8 Plus ***/

/*** iPad ***/
@media only screen and (min-width: 768px) {
	.icons-container {
		height: 70vh !important;

		.icon-box {
			// width: 50%;
			.icon {
				// max-width: 60% !important;
			}
		}
	}

	// .projects-container {
	// 	.projects {
	// 		img {
	// 			width: 80%;
	// 		}
	// 	}
	// }
}
/*** iPad ***/

/*** iPad Pro ***/
@media only screen and (min-width: 1024px) {
	.icons-container {
		height: 80vh !important;
		.icon {
			max-width: 70% !important;
		}
		.caption {
			font-size: 2.5rem !important;
		}
	}
}
/*** iPad Pro ***/

/*** Desktop ***/
@media only screen and (min-width: 1500px) {
	.other-header {
		img {
			width: 25% !important;
		}
	}
	.icons-container {
		height: 75vh !important;
		// justify-content: space-evenly !important;
		// align-content: space-between !important;

		.icon-set {
			width: 40% !important;
			// align-self: self-start !important;
			.icon-box {
				width: 50% !important;
				.icon {
					max-width: 30% !important;
				}
				.caption {
					font-size: 1.8rem !important;
				}
			}
		}
	}
}
/*** Desktop ***/
