/*** *** VSEEN Colors *** ***/
$vseen-bg: #000000;
$vseen-color-primary: #da1c85;
$vseen-color-text: #ffffff;

/*** *** Village Colors *** ***/
$vpm-bg: #ffffff;
$vpm-color-primary: #2d95c8;
$vpm-color-text: #000;

/*** *** Util Colors *** ***/
$navbar-bg: #eeeeef;
