/*** *** VSEEN Colors *** ***/
$vseen-bg: #000000;
$vseen-color-primary: #da1c85;

/*** *** Village Colors *** ***/
$village-bg: #ffffff;
$village-color-primary: #2d95c8;

/*** *** Util Colors *** ***/
$navbar-bg: #eeeeef;
