#vpm-section {
	background-color: #fff;
	.icons-container {
		display: flex;
		height: 40%;
		position: relative;
    top: 2rem;
    
		.icon-set {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;

			.icon-box {
				display: flex;
				text-align: center;
				flex-flow: column nowrap;
				align-items: center;
				// border: 2px yellow solid; //! DEV BORDER
				.icon {
					width: 55%;
					margin-top: 20px;
					border-radius: 50%;
				}
				.caption {
					font-size: 1.5rem;
					font-weight: 600;
					// border: 1px greenyellow solid; //! DEV BORDER
					color: #000;
				}
			}
		}
	}
}
