#vpm-section {
	.single-project {
		// border: 2px solid yellow; // ! DEV Border
		display: flex;
		position: relative;
		top: 3rem;
		flex-flow: column nowrap;
		align-items: center;
		width: 80%;
		margin: 0 auto;

		.project-content {
			border: 1px solid blue; // ! DEV Border
			margin-top: 2rem;
		}

		.project-title {
			// border: 1px solid limegreen; // ! DEV Border
			align-self: flex-start;
			color: $vpm-color-primary;
			margin-bottom: 0;
		}

		.project-client {
			// border: 1px solid pink; // ! DEV Border
			align-self: flex-start;
			color: $vpm-color-text;
		}
	}
}
